@font-face {
    font-family: 'Tetris';
    src: url(fonte/PressStart2P-Regular.ttf);
}

body{
    font-family: 'Tetris', cursive;
}

.navbar .modo-game{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar .modo-game > li{
    display: list-item;
    box-sizing: border-box;
    padding: 10px 15px;
}

.navbar .modo-game > li > a{
    color: black;
    text-decoration: none;
    font-size: 18pt;
}

.game-container > div{
    margin: auto;
    text-align: center;
}

#tetris{
    background: rgba(40, 69, 122,0.5);
    border:2px solid black;
}

#tetris.modo-10x20{
    height:500px;
    width:250px;
}
#tetris.modo-22x44{
    height:1000px;
    width:500px;
}