@font-face {
    font-family: 'Tetris';
    src: url(fonte/PressStart2P-Regular.ttf);
}

body{
    font-family: 'Tetris', cursive;
}

p{
    padding: 0px;
    margin: 10px 0px 10px 18px;
    text-align: left;
}

div{
    padding: 0px;
    margin: 0px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .modo-game{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    
}

.navbar .modo-game > li{
    display: list-item;
    box-sizing: border-box;
    padding: 10px 15px;
}

.navbar .modo-game > li > a{
    color: black;
    text-decoration: none;
    font-size: 18pt;
}

.game-container{
    background: background;
    display: flex;
    border-radius: 300px;
    border:2px solid black;
}

#tempo{
    margin-top: 20px;
}


.game-container > div{
    float: left;
    margin: auto;
    text-align: center;
}

#tetris{
    background: rgba(40, 69, 122,0.5);
    border:8px solid #261563;
}

#tetris.modo-10x20{
    height:500px;
    width:250px;
}
#tetris.modo-22x44{
    height:500px;
    width:250px;
}

.lateral-esquerda{
    height:505px;
    width:300px;
}

.lateral-direita{
    height:505px;
    width:300px;adc
}

.buttom{
    border: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
    border-radius:50%;
    box-shadow: 0px 0px 0px 2px black;
}

img{
    border-radius:50%;
    height: 40px;
    width: 40px;
}

.placar{
    padding-top: 22px;
    margin-left: 15px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    border:2px solid white;
}



#rank{
    padding-top: 10px;
    height:490px;
    width:250px;
    background-color: black;
    border: 8px solid #261563;
    color: white;
    text-align: center;
    display: none;
    position: absolute;
    float: left;
}

p.ranked{
    font-size: 10pt;
    margin: 12px 0px 0px 12px;
}

p.ranked:first-of-type{
    color: gold;
}

p.ranked:last-of-type{
    color: red;
}

p.tempo{
    padding-left: 30px;
}

.fundo{
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 60px;
    background-color: darkgray;
    height:160px;
    width: 160px;
    border-radius: 50%; 
    border: 2px solid white;
}

*:focus{
    outline: None;
}

.botao-superior{
    background:darkgray;
    border: 3px solid black;
    position: absolute;
    height: 25px;
    width: 150px;
    text-align: center;
    color: white;
    align-items: center;
    border-radius: 15px 15px 0 0;
    padding: 10px 0 0 0;
}

.botao-superior *{
    color:white;
    text-decoration: none;
}

.bot-sp-esq{
    top: 37px;
    left: 256px;
}

.bot-sp-dir{
    top: 37px;
    right: 256px;
}

h2{
    text-align: center;
    padding-bottom: 10px;
}